<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-simplenetworkapi" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>MyNetworkApi</name>
<js-module name="MyNetworkApi" src="www/MyNetworkApi.js">
<clobbers target="cordova.plugins.MyNetworkApi" />
</js-module>
<platform name="android">
<config-file parent="/*" target="res/xml/config.xml">
<feature name="MyNetworkApi">
<param name="android-package" value="SimpleNetworkApi.MyNetworkApi" />
</feature>
</config-file>
<config-file parent="/*" target="AndroidManifest.xml"></config-file>
<source-file src="src/android/MyNetworkApi.java" target-dir="src/SimpleNetworkApi" />
</platform>
</plugin>